h1= title
p Welcome to #{title}

div#ui
	input(id='txtSearch')
	button(id='btnSearch')
	button(id='btnFlip')
	button(id='btnFlipOn')
	button(id='btnFlipOff')

#instagramapp

#detailpanel

//- div#wrapper
//- 	!= partial('partials/image', images)

script(type='text/x-jquery-tmpl', id='image-template')
	.front
		img(src='${images.thumbnail.url}')
	.back(style='background-position: -${xpos}px -${ypos}px')



